[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "5.0.1"
psycopg2-binary = "*"
adrf = "*"
django-cors-headers = "*"
channels = {extras = ["daphne"], version = "*"}
python-dotenv = "*"
uvicorn = "*"
gunicorn = "*"
django-debug-toolbar = "==2.2"

[dev-packages]

[requires]
python_version = "3.11"
